

.logo {
	font-family: 'Lobster', cursive;
	color: tomato;
	font-size: 5em;
}

body, .main {
	height: 100%;
	width: 100%;	
	background-color: gray;
}

.main {
	border: 5px solid white;
	display: flex;
}
#info {
	width: 50%;
	margin: auto;
}
.signup {
	margin:auto;
	display: block;
}

.slider-outer {
	width: 100%;
	overflow: hidden;
	margin: auto;
}

.slider-inner {
	width: 200%;
	transition: all 0.5s ease-in-out;
	transform: translateX(0%);
}
#back {
	display: none;
	position: absolute;
}
#backBtn {
	color: lightgray;
}


font-family: 'Bangers', cursive;
font-family: 'Pacifico', cursive;